<app-menu page="KeeperMate"></app-menu>
<ion-content>
    <ion-toolbar>
        <ion-title>Create Note</ion-title>
    </ion-toolbar>

    <ion-grid class="v-content" [formGroup]="noteForm">
        <ion-row>
            <ion-col size="4">
                <ion-img class="pet" src="assets/image/pet.png"></ion-img>
            </ion-col>
            <ion-col size="8" class="hi">
                <ion-text>Hi i'm Keppy, please enter the note that you want create:</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-textarea placeholder="Note ..." formControlName="note" (keydown.enter)="save()"></ion-textarea>
        </ion-row>

        <ion-row>
            <ion-col size="8" offset="2">
                <ion-button class="btn" (click)="save()">Create</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-footer back="true"></app-footer>
