<ion-header [translucent]="true">
    <ion-img src="assets/image/logo.png" class="l" *ngIf="page == 'KeeperMate'"></ion-img>
    <ion-icon class="close" name="log-out-outline" (click)="signOut()" *ngIf="page == 'KeeperMate'"></ion-icon>

    <ion-toolbar>
        <ion-title>
            {{ page ? page : 'KeeperMate' }}
        </ion-title>
    </ion-toolbar>
</ion-header>
