.l {
  position: absolute;
  margin: auto;
  width: 65px;
  top: 15px;
  left: 15px;
  z-index: 11;
}

.close {
  position: absolute;
  margin: auto;
  z-index: 11;
  width: 65px;
  font-size: 30px;
  top: 12px;
  left: inherit;
  right: -10px;
  color: rgba(0, 154, 168, 1);
  font-weight: bold;
}

ion-title {
  text-align: center;
}
