@import "src/app/core/scss/vars";

.logo {
  max-width: 180px;
  margin: 30px auto 0px;
}

.v-content {
  height: 60vh;
  display: flex;
  align-items: center;

  ion-row {
    padding: 10px;
    max-width: 310px;
    text-align: center;
    margin: 0 auto;
  }
}

.hi, .field {
  display: none;
}

ion-text {
  --padding: 15px auto;
}

ion-content {
  position: relative;
}

.btn {
  bottom: 0;
  opacity: 1;
  transition: 1s ease-in-out;
  position: relative;

  &.hidden {
    opacity: 0;
    bottom: -100%;
  }
}

input {
  width: 70%;
  border-bottom: 2px solid black;
}

.field {
  width: 70%;
}
