<app-menu page="Welcome"></app-menu>

<ion-content>
    <ion-img class="logo" src="assets/image/logo.png"></ion-img>

    <ion-grid class="v-content" [formGroup]="loginForm">
        <ion-row>
            <ion-col size="4">
                <ion-img class="pet" src="assets/image/pet.png"></ion-img>
            </ion-col>
            <ion-col size="8">
                <ion-text class="hi">Hi i'm Keppy, please enter the following information:</ion-text>
                <ion-input class="field" placeholder="* Username" formControlName="username"></ion-input>
                <ion-input type="password" class="field" placeholder="* Password" formControlName="password" (keydown.enter)="join()"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-row>
        <ion-col size="8" offset="2">
            <ion-button class="btn hidden" (click)="join()">Join</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
