<app-menu page="KeeperMate"></app-menu>
<ion-content>
    <ion-toolbar>
        <ion-title>Note list</ion-title>
    </ion-toolbar>
    <ion-list *ngIf="noteList && noteList.length > 0">
        <ion-item class="no-padding" *ngFor="let i of noteList" lines="inset">
            <!--<ion-icon name="attach" slot="start"></ion-icon>-->
            {{ i.id + ' - ' + i.note }}
        </ion-item>
    </ion-list>
    <ion-toolbar>
        <ion-text *ngIf="!noteList || (noteList && noteList.length == 0)">Please create notes to see this list</ion-text>
    </ion-toolbar>
</ion-content>

<ion-img class="pet" src="assets/image/pet-2.png"></ion-img>
<app-footer></app-footer>
