
ion-item {
  --padding: 0px;
  padding-right: 15px;
}

.pet {
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: -75px;
}

.it {
  text-align: center;
}

:host ::ng-deep {
  .it {
    text-align: center;
  }
}

ion-toolbar {
  text-align: center;
}

ion-list {
  height: 39vh;
  overflow: scroll;
}
