ion-input {
  width: 100%;
  border-bottom: 2px solid rgba(0, 154, 168, 0.5);
  padding: 5px;
  box-sizing: border-box;
}

ion-button {
  --background: rgb(0, 154, 168);
  width: 100%;
}

.toast {
  text-align: center;
  --background: rgb(0, 154, 168);
  color: white;

  &.danger {
    --background: red;
  }
}
