
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="create" *ngIf="!back">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>Create Note</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home" *ngIf="back">
            <ion-icon name="caret-back-outline"></ion-icon>
            <ion-label>Back</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
